table {
    border-collapse: separate;
    /* border-spacing: 0 0.5em; */
}

td{
    background-color: #fad648;
    border-radius : 3000px;
    padding: 0 15px;
}

#tableIdGoogleSyn td{
    background-color: #1dd180;
    border-radius : 3000px;
    padding: 0 15px;
}

h1,h3,p{
    color: "#000000"
}

@font-face {
    font-family: "Google Sans";
    src: url("./google_sans_regular.ttf");
}

body{
    font-family: "Google Sans";
    font-size: small;
}

::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1d1e ;
    border-radius: 6px;
    border: 3px solid #CFD8DC;
}


.sidenav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 40px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}